:root {
    --white-text: #F8FCFF;
    --accent-text: #1D6FB6;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2') , 
    url('../fonts/Montserrat-Medium.woff') format('woff') ; 
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Semibold'), local('Montserrat-Semibold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2') , 
    url('../fonts/Montserrat-SemiBold.woff') format('woff') ; 
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2') , 
    url('../fonts/Montserrat-Regular.woff') format('woff') ; 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background: #181E34;
    font-family: 'Montserrat', "Arial", sans-serrif;
    line-height: 125%;
    color: black;
    background: #F8FCff;
}


/* =========================================== */
.header{
    min-height: 108 px;
    display:flex;
    line-height: 1.5;

}

.container
{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15 px;
    height: 100%;
}

.header_inner

{
display: grid;
grid-template-columns: 1fr auto 1fr;
gap: 15px;
align-content: center;
align-items: center;
}

.header_logo
{
max-width: 54px;
}

.header_socials
{
    justify-self:end;
}
.nav {
}
.nav_list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}
.nav_item {
}
.nav_link {
}

.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}
.socials_item {
}
.socials_link {
}
/* =========================================== */

.hero 
{
padding: 120px 0;
color: #F8FCff;
line-height: 1.5;
position: relative;
}

.hero_inner
{
display: flex;
flex-direction: column;
align-items: center;
}

.hero_title
{
font-weight: 600;
font-size:52px;
margin-bottom: 30px;
}

.hero_list
{
    font-size: 24px;
    margin-bottom: 40px;

}

.hero_list-item
{
margin-bottom: 15px;
display: flex;
gap: 18px;
align-items: center;
}

.hero_list-item:last-child
{
margin-bottom: 0;
transition: all .5s;

}


.hero_list-item path
{
transition: all .5s;
}

.hero_list-item:hover
{
color: #1D6FB6;
}

.hero_list-item:hover path
{
fill:  #1D6FB6;
}

.hero_video
{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}



.hero_video video
{
    height: 100%;
    width:100%;
    object-fit: cover;
    
}
.hero_video::before
{
content: '';
display: block;
position: absolute;
top:0;
right: 0;
bottom: 0;
left: 0;
height: 100%;
width:100%;
background-color: #102e49cc;

}

.button

{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1d6fb6;
    background: #D0DCE7;
    height: 56px;
    width: 100%;
    max-width: 288px;
    border-radius: 100px;
    transition: .8s;

}

.button:hover

{
 color:#F8FCFF;
 background: #83ADD3;
}


/*-----------------------------------------------------*/

.main_general{
    padding: 120px 0;
}


.main_wrapper{

    display: flex;
    gap: 126px;
}

.main_body{
    width: 100%;
}

.main_gallery {
    margin-bottom: 120px;
}

.sidebar{
    line-height: 20px;
    font-weight: 500px;
    border: 2px solid #D0DCE7;
    padding: 30px;
    max-width: 282px;
    width: 100%;
}



.sidebar_item{
    margin-bottom: 20px;
}
.sidebar_item:last-child {
    margin-bottom: 0;
}

/*-----------------------------------------------------*/


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 24px;
    font-weight: 500;
    color: var(--white-text);
}

.gallery_img {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.gallery--img--large--left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery--img--large--right{
    grid-column: -1/-3;
    grid-row: span 2;
}

.gallery_hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1D6FB6B2;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    opacity: 0;
    transition: all .5s;
}

.gallery_img:hover .gallery_hint {
    transform: translateY(0%);
    opacity: 1;
}

.gallery--img--large--left .gallery_hint,
.gallery--img--large--right .gallery_hint
{
    height: 103px;
    font-size: 24px;
    line-height: 29px;
}

/* =====================================================*/

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.products__item-img {
    position: relative;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item-badge {
    position: absolute;
    top: 12.6%;
    left: 0;
    background: var(--white-text);
    border-radius: 0px 100px 100px 0px;
    padding: 18px 15px;
    min-width: 33.9%;
    text-align: center;
    font-weight: 500;
    color: var(--accent-text);

    animation: badge-action 2s infinite alternate;
}

@keyframes badge-action {
    0% {
        min-width: 33.9%;
    }
    66.666% {
        min-width: 33.9%;
    }
    100% {
        min-width: 37.3%;
    }
}

.products__item-body {
    border: 1px solid #D0DCE7;
    border-top: none;
    padding: 30px 15px;
}

.products__item-button {
    margin: 0 auto;
}

/* ======================================================== */

.footer {
    padding: 30px 0;
    color: var(--white-text);
    background: #788088;
    text-align: center;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}