html
{
    font-family: sans-serif;
}

body
{
    box-sizing: border-box;
}
.article
{
    height: 100px;
}
.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    border-bottom: 2px solid #eee;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1320px;
    align-items: center;
     
}

  @media (max-width:800px){
    .container
    {
        border: none;
        flex-wrap: wrap; 
    }
}

.nav_ul
{
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    text-decoration: underline;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: inherit;
}
